[user]
	name = Brendan O'Leary
	email = boleary@gitlab.com
	signkey = 8681418BEE68D257
	signingkey = 8FB238F31D05AFB8
[pull]
	rebase = true
[push]
	default = current
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	snippet = !git diff | snippet -internal
	skipci = 'push -o ci.skip'
[color]
	ui = auto
[gpg]
	program = gpg
[commit]
	gpgsign = false
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/brendan/.gitignore_global
